@{
	ViewBag.Title = "About My Twitter Stats";
	ViewBag.ActiveTab = "About";
}

<h1 style="padding-top: 60px;">About My Twitter Stats</h1>
<p>This service is brought to you by <a href="https://twitter.com/huseyint">Hüseyin Tüfekçilerli</a>.</p>
<p>Please reach me at huseyint &lt;at&gt; gmail.com for any suggestions like some new stats.</p>
<h1 style="padding-top: 30px;">FAQ</h1>
<p><strong>Q.</strong> Do you store my twitter archive?</p>
<p><strong>A.</strong> No.</p>
<hr />
<p><strong>Q.</strong> Wow this is so cool, can I donate?</p>
<p><strong>A.</strong> <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=SY4LK4J89W9G2">Yes</a>.</p>
<hr />
