@{
	ViewBag.Title = "My Twitter Stats";
	ViewBag.ActiveTab = "Home";
}
<h1 style="padding-top: 60px;">1. Request your twitter archive</h1>
<p>Go to your <a href="https://twitter.com/settings/account" target="_blank">twitter settings</a>, scroll down to bottom and click <strong>Request your archive</strong> button.</p>
<img src="/Content/images/RequestArchive.png" />
<h1 style="padding-top: 30px;">2. Check your mail for archive download link</h1>
<p>You should have an email coming from twitter that contains a link to your archive, download it.</p>
<h1 style="padding-top: 30px;">3. Upload your twitter archive</h1>
<p>Upload the <strong>tweets.zip</strong> file you have downloaded.</p>

<form action="/uploadarchive" method="post" enctype="multipart/form-data">
	<div class="fileupload fileupload-new" data-provides="fileupload" style="float: left;">
		<div class="input-append">
			<div class="uneditable-input span3">
				<i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span>
			</div>
			<span class="btn btn-file"><span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span><input type="file" name="file" id="file" /></span>
			<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
		</div>
	</div>

	<input type="hidden" name="timeZoneOffset" id="timeZoneOffset" />
	<input type="submit" class="btn btn-primary" value="Upload" style="margin-left: 10px;" />

	<script type="text/javascript">
		//<![CDATA[

		$(function () {
			$('#timeZoneOffset').val(new Date().getTimezoneOffset()).change();
		});

		//]]>
	</script>
</form>

<p style="padding-top: 30px;"><a href="/viewstats/f47cb23e78d44a54bb7c0528a1588bf3">See a sample stats page</a></p>