@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form action="/Home/UploadArchive" method="post" enctype="multipart/form-data">
  
  <label for="file">Filename:</label>
  <input type="file" name="file" id="file" />

  <input type="submit" />
</form>